{% extends 'base.html' %}

{% block static %}
    {% load static %}
{% endblock static %}

{% block title %}
    {{judul}}    
{% endblock title %}

{% block css %}
    <!-- <link rel="stylesheet" href="{% static 'css/blog/ceritasingkat.css' %}">  -->
    <style>
        body{
            background-color: #6b18fd  !important;
        }

        .gambar{
            width: 75%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin-top: 5%;
            margin-left: 12.5%;
            border: 5px solid rgba(0, 0, 0, 0.5);
            border-radius: 15%;
        }
        
        .pembungkus{
            width: 75%;
            margin: 3% auto 0;
            box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
            background-color: #ffcf22;
            padding: 3%;
            border-radius: 5%;
        }
        
        .judul{
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 130%;
            text-transform: uppercase;
            color: black;
        }
        
        .isi{
            font-size: 110%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        
        .sinopsis{
            font-weight: bold; 
        }

        .tombol{
            margin-top: 0;
            margin-left: 39%;
            border-radius: 15%;
            width: 25%;
            box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.2);
            background-color:whitesmoke;
        }
        
        @media screen and (min-width: 567px) {
            .gambar{
                width: 35%;
                margin-top: 3%;
                margin-left: 32%;
            }

            .pembungkus{
                width: 65%;
            }
        
            .judul{
                font-size: 325%;
            }
            
            .isi{
                font-size: 155%;
            }

            .tombol{
                
                margin-top: 3%;
                margin-left: 43%;
                margin-bottom: 0;
                width: 10%;
            }
        }
    </style>
{% endblock css %}

{% block titlePage %}
    
{% endblock titlePage %}

{% block contents %}
<div class="seluruh">
    <img class="gambar" src="{{ Posts.cover.url }}" alt="">

    <div class="pembungkus">
        <h1 class="judul">{{Posts.nama}} </h1>
        <h2 class="isi">Penulis          : {{Posts.penulis}}</h2>
        <h2 class="isi">Jumlah Slide     : {{Posts.slide}}</h2>
        <h2 class="isi">Sumber           : {{Posts.sumber}}</h2>
        <h2 class="isi sinopsis"> SINOPSIS :</h2>
        <h2 class="isi">{{Posts.deskripsi|truncatechars:254}} </h2>

        <a href="{% url 'blog:detail' Posts.slug %}">
            <button class="tombol">
                BACA
            </button>
        </a>
    </div>
</div>


{% endblock contents %}

{% block js %}
    <!-- <script src="{% static 'java/blog/detail.js' %}"></script> -->
{% endblock js %}
