img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.h3navbar{
    line-height: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tulisannavbarketengah{
    margin-left: -35%;
}

.navbar{
    height: 70px;
    background-color: black;
}
/* 
.tombolnavbar{
    margin-top: -10%;
} */

.pembungkus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 850px);
    grid-template-areas: 
        'home'
        'content1'
        'login'
        ;

    height: 100%;
}

.home {
    background-color: #fe5c00;
    grid-area: home;
    overflow: hidden;
}

.subjudul1{
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 13%;
    color: wheat;
    position: absolute;
    opacity: 0%;
}

.subjudul1tengah{
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 17.5%;
    color: rgb(255, 238, 0);
    position: absolute;
    animation: animasisubjudul1tengah 4s ease-in infinite alternate-reverse forwards;
    opacity: 0%;
}

@keyframes animasisubjudul1tengah{
    0% {
        margin-left: 38%;
        color: blue;
    }

    75%{
        color: rgb(255, 238, 0);
    }

    100% {
        margin-left: 0;
        color: rgb(255, 238, 0);
    }
}

.subjudul2{
    width: 55%;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 24%;
    color: wheat;
    position: absolute;
    opacity: 0%;
}

.subjudul2 span{
    font-size: 42px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
    animation: animasispan 12s ease-in infinite alternate-reverse forwards;
    opacity: 0%;
}

@keyframes animasispan{
    0% {
        color: blue;
    }
    
    25%{
        color: green;
    }

    50%{
        color: paleturquoise;
    }

    75%{
        color:palegreen;
    }

    100% {

        color:yellow;
    }
}

.book-page{
    width: 190px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 5px 100px rgba(0, 0, 0, .5);
    background: #fff;
    transition: .1s;
}

.opacitybookPage{
    animation: opacitybookPage 2s ease-in-out 1 reverse forwards;
}

@keyframes opacitybookPage{
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.book-page:hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(-5deg);
    box-shadow: inset 2px 0 50px rgba(0, 0, 0, .5), 0 3px 100px rgba(0, 0, 0, .5);
}

.page-img{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
    z-index: 1;
}

.page-img img{
    width: 100%;
    height: 100%;
}

.book-page:hover .page-img{
    transform: rotateY(-135deg);
}

.tulisanilangcoverindex{
    z-index: 3;
    position: absolute;
    animation: opacitytulisancover 12s ease-in-out infinite reverse forwards;
}

@keyframes opacitytulisancover{
    0% {
        opacity: 100%;
    }

    7% {
        opacity: 0%;
    }

    35% {
        opacity: 0%;
    }

    57% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

.kawah {
    position: absolute;
    margin-top: 642px;
    height: 210px;
    width: 100%;
    z-index: 10;
    background: linear-gradient(to top, #fdc700, transparent);
}

/* ================== */

.content1 {
    background-color: #fdc700;
    grid-area: content1;
    position: relative;
    overflow: hidden;
}

.penandacontent1{
    margin: 15px auto;
    width: 20px;
    height: 20px;
    background-color: chocolate;
    transform: rotate(45deg);
    animation: animasipenandacontent1 6s ease-in-out infinite reverse forwards;
}

@keyframes animasipenandacontent1{
    0% {
        transform: rotate(45deg) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotate(45deg) rotateX(0deg) rotateY(360deg);
    }

    100% {
        transform: rotate(45deg) rotateX(360deg) rotateY(360deg);
    }
}

.h2kotaktulisancontent1{
    color: #8c00ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    position: absolute;
    display: block;
    width: 100%;
    font-size: 215%;
    z-index: 3;
    padding: 3%;
    margin-top: 100%;
}

.animasih2kotaktulisancontent1{
    animation: animasih2kotaktulisancontent1 2s ease-out 1 reverse forwards;
    /*animation-delay: 12s; */
}

@keyframes animasih2kotaktulisancontent1{
    0% {
        margin-top: 10%;
    }

    100% {
        margin-top: 100%;
    }
}

.h2kotaktulisancontent1shadow{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    position: absolute;
    display: block;
    width: 100%;
    font-size: 215%;
    z-index: 3;
    padding: 3%;
    margin-top: 11%;
    margin-left: 1%;
    color: rgba(0, 0, 0, .1);
    opacity: 0%;
}

.animasih2kotaktulisancontent1shadow{
    animation: animasih2kotaktulisancontent1shadow 1s ease-out 1 reverse forwards;
    animation-delay: 2s
}

@keyframes animasih2kotaktulisancontent1shadow{
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.kotakpenandacontent1{
    position: relative;
    width: 100%;
}

.kotakdeskripsi{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(124, 159, 255, 0.75);
    z-index: 5;
}

.animasikotakdeskripsi{
    animation: animasikotakdeskripsi 2s ease-in-out 1 reverse forwards;
    animation-delay: 7s;
}

@keyframes animasikotakdeskripsi{
    0% {
        height: 55%;
    }

    100% {
        height: 0%;
    }
}

.h1gambarcontent{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 8%;
    color: white;
    opacity: 0%;
}

.animasih1gambarcontent{
    animation: animasih1gambarcontent 1s ease-in-out 1 reverse forwards;
    animation-delay: 9s;
}

@keyframes animasih1gambarcontent{
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.gambar1content1{
    position: absolute;
    margin-top: 200%;
    margin-left: 5%;
    width: 150px;
    height: 200px;
    background-color: whitesmoke;
}

.animasigambar1content1{
    animation: animasigambar1content1 2s ease-in-out 1 reverse forwards;
    animation-delay: 2.5s;
}

@keyframes animasigambar1content1{
    0% {
        margin-top: 40%;
    }

    100% {
        margin-top: 200%;
    }
}

.gambar2content1{
    position: absolute;
    margin-top: 200%;
    margin-left: 52%;
    width: 150px;
    height: 200px;
    background-color: whitesmoke;
}

.animasigambar2content1{
    animation: animasigambar2content1 2s ease-in-out 1 reverse forwards;
    animation-delay: 3.5s;
}

@keyframes animasigambar2content1{
    0% {
        margin-top: 40%;
    }

    100% {
        margin-top: 200%;
    }
}

.gambar3content1{
    position: absolute;
    margin-top: 200%;
    margin-left: 30%;
    width: 150px;
    height: 200px;
    background-color: whitesmoke;   
}

.animasigambar3content1{
    animation: animasigambar3content1 2s ease-in-out 1 reverse forwards;
    animation-delay: 4.5s;
}

@keyframes animasigambar3content1{
    0% {
        margin-top: 105%;
    }

    100% {
        margin-top: 200%;
    }
}



.kawah2{
    position: absolute;
    margin-top: 590px;
    height: 210px;
    width: 100%;
    z-index: 10;
    background: linear-gradient(to top, #c6fd00, transparent);
}

/* ================== */

.login {
    background-color: #c6fd00;
    grid-area: login;
    position: relative;
    overflow: hidden;
}

.h1login{
    margin-top: 17%;
    font-size: 210%;
    font-weight: bold;
    text-align: center;
    color: rgb(29, 25, 255);
    opacity: 0%;
}

.animasih1login{
    animation: animasih1login 2s ease-in-out 1 reverse forwards;
}

@keyframes animasih1login{
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.kotakh2login{
    width: 80%;
    margin: auto;
    margin-top: 6%;
}

.h2login{
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    opacity: 0%;
    animation-delay: 1s;
}

a{
    width: 100px;
    height: 60px;
    margin: 4% auto;
}

.tombollogin{
    font-size: 100%;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rebeccapurple;
}

/* ================================================================================================== */

@media screen and (min-width: 567px){
    .navbar{
    height: 70px;
    }

    .tulisannavbarketengah{
        margin-left: -15%;
    }

    .subjudul1{
        opacity: 100%;
    }

    .subjudul1tengah{
        opacity: 100%;
    }

    .subjudul2{
        opacity: 100%;
    }

    .subjudul2 span{
        opacity: 100%;
    }

    .book-page{
        width: 200px;
        height: 300px; /* 500px */
        top: 50%;
        left: 82%;
    }

    .h2kotaktulisancontent1{
        font-size: 450%;
        padding: 5%;
        margin-top: 55%;
    }

    .h2kotaktulisancontent1shadow{
        font-size: 450%;
        padding: 5%;
        margin-top: 6.5%;
        margin-left: .5%;
        color: rgba(0, 0, 0, .1);
    }

    @keyframes animasih2kotaktulisancontent1{
        0% {
            margin-top: 6%;
        }
    
        100% {
            margin-top: 100%;
        }
    }

    .penandacontent1{
        margin: 80px auto;
        width: 40px;
        height: 40px;
        background-color: chocolate;
        transform: rotate(45deg);
        animation: animasipenandacontent1 6s ease-in-out infinite reverse forwards;
    }

    .kawah2{
        margin-top: 440px;
    }

    .h1gambarcontent{
        font-size: 23px;
        line-height: 25px;
        margin-top: 12%;
    }

    .gambar1content1{
        margin-top: 55%;
        margin-left: 10%;
        width: 200px;
        height: 250px;
    }

    @keyframes animasigambar1content1{
        0% {
            margin-top: 12%;
        }

        100% {
            margin-top: 55%;
        }
    }

    .gambar2content1{
        margin-top: 55%;
        margin-left: 40%;
        width: 200px;
        height: 250px;
    }

    @keyframes animasigambar2content1{
        0% {
            margin-top: 12%;
        }

        100% {
            margin-top: 55%;
        }
    }

    .gambar3content1{
        margin-top: 55%;
        margin-left: 70%;
        width: 200px;
        height: 250px;
    }

    @keyframes animasigambar3content1{
        0% {
            margin-top: 12%;
        }

        100% {
            margin-top: 55%;
        }
    }

    .h1login{
        margin-top: 1%;
        margin-left: 5%;
        font-size: 450%;
        text-align: left;
    }

    .kotakh2login{
        width: 75%;
        margin-top: 3%;
    }
    
    .h2login{
        font-size: 250%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        opacity: 0%;
        animation-delay: 1s;
    }

    a{
        width: 150px;
        height: 70px;
        margin: 2% auto;
    }
    
    .tombollogin{
        font-size: 200%;
        width: 170px;
        height: 70px;
        text-align: center;
        line-height: 60px;
        background-color: rebeccapurple;
    }
    
}