{% block static %}
            
{% endblock static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
            
        {% endblock title %} 

    </title>

    {% block css %}
            
    {% endblock css %} 

    {%include "snippets/styles.html"%}

</head>
<body>
    
        {% block contents %}
        
        {% endblock contents %}
    

    
        {% block contents2 %}
        
        {% endblock contents2 %}
    
    
    {% block js %}
        
    {% endblock js %}
        
    {%include "snippets/scripts.html"%}
    
</body>
</html>