{% extends 'base.html' %}

{% block title %}
    {{Judul}}    
{% endblock title %}

{% block css %}
    <style>

        body{
            background-color: royalblue !important;
        }

        .hai{
            margin: 3% auto 0.5%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            text-align: center;
            overflow: hidden;
            opacity: 0%;
        }

        .animationhai {
            animation: animationhai 10s ease-in 1 reverse forwards;
            animation-delay: 0.5s;
            
        }
        
        @keyframes animationhai{
            0% {
                opacity: 0%;
            }

            45%{
                opacity: 100%;
            }

            75% {
                margin: 3% auto 0.5%;
                opacity: 100%;
            }
        
            100% {
                margin: 5% auto 0.5%;
                opacity: 0%;
            }
        }

        .dibawahhai{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: relative;
            font-weight: bold;
            text-align: center;
            opacity: 0%;
        }

        .animationdibawahhai {
            animation: animationdibawahhai 7.5s ease-in 1 reverse forwards;
            animation-delay: 2.5s;
            
        }
        
        @keyframes animationdibawahhai{
            0% {
                opacity: 0%;
            }

            45%{
                opacity: 100%;
            }

            75% {
                margin: 0%;
                opacity: 100%;
            }
        
            100% {
                margin: 3%;
                opacity: 0%;
            }
        }

        .kotak{
            background-color: rgb(236, 28, 28);
            text-align: center;
            width: 45%;
            margin: 2% auto 0%;
            opacity: 0%;
            border-radius: 0%;
        }

        .animationkotak {
            animation: animationkotak 5s ease-in 1 reverse forwards;
            animation-delay: 6s;
            
        }
        
        @keyframes animationkotak{
            0%{
                margin: -3% auto 0%;
                opacity: 100%;
                border-radius: 3%;
            }

            60% {
                opacity: 100%;
                margin: 2% auto 0%;
                border-radius: 0%;
            }
        
            100% {
                opacity: 0%;
                margin: 2% auto 0%;
                border-radius: 0%;
            }
        }

        .kotak .memastikan{
            text-align: left;
        }

        .buttonlogin{
            margin-top: 2%;
        }
    </style>
{% endblock css %}

{% block contents %}
    <h1 class="hai animationhai">HAI HAI HALO</h1>
    <h2 class="dibawahhai animationdibawahhai ">Park Atta Halilintar Ashiap Nusa <br> Permata Siburian Jimin</h2>

    <div class="kotak animationkotak">
        <div class="form">
            <h1 class="tulisanlogin">Verifikasi</h1>
            <h4 class="memastikan">Untuk memastikan anda adalah atta masukkan nama dosen pa dan password hp anda</h4>
            <form class="login" method="POST">
                {% csrf_token %}
                <label class="label" for="username">Nama Dosen PA (*misal riadi): </label>
                <br>
                <input class="isiian" type="text" name="username" id="username">
                <br>
                <label class="label" for="password">Password HP: </label>
                <br>
                <input class="isiian" type="password" name="password" id="password">
                <br>
                <button type ="submit" class="buttonlogin">Login</button>
            </form>
        </div>
    </div>

    {%if messages%}
        {%for message in messages%}
        <div class="pesanerror">
            <h3 class="tulisanpesanerror">
                {{message}}
            </h3>
        </div>
        {% endfor %}
    {% endif %}
    

{% endblock contents %}

{% block js %}
    
{% endblock js %}

    

    
    