{% extends 'base.html' %}

{% block static %}
    {% load static %}
{% endblock static %}

{% block title %}
    {{Judul}}    
{% endblock title %}

{% block css %}
    <!-- <link rel="stylesheet" href="{% static 'css/register.css' %}">  -->
    <style>
        body {

            background-color:gray !important;
            background-size: 1000%;
            background-position: 100%;
            overflow: hidden;
        }
        
        html{
            overflow: hidden;
        }
        
        
        /*img {
            position: absolute;
            width: 770px;
            display: block;
            z-index: -1;
            margin-top: -30%;
            margin-left: 19%;
        
        }*/
        
        .quote {
         
            color: papayawhip;
         
        }
        
        
        .titlepage {
            color: white;
            margin : 24%;
            margin-left: 2%;
            position: absolute;
            animation: opacitytitlepage 1.7s ease 1 reverse forwards; 
        }
        
        .kotakisi {
            margin-top: -10px;
            
        }

        .tombolsubmit{
            margin-left: -38%;
            text-align: left;
        }
        
        .labeltag {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: seashell;
            
        }

        .labeltagposisi{
            width: 100%;
            margin-left: 19%;
            text-align: left;
        }
        
        .tulisanhitam {
            color: black;
            
        }
        
        .tulisanabu {
            color: rgb(199, 199, 199);
            
        }
        
        
        .kotak {
            width: 300px;
            height: 350px;
            background-color: #3845bb;
            margin : 13% auto;
            display: block;
            background-image: url('../gambar/kotakRegis.png');
            background-size: 100%;
            background-position: 100%;
            animation: animasiKotak 9.3s ease 1 reverse forwards; 
        }

        @keyframes animasiKotak{
            0% {
                width: 300px;
                height: 350px;
                border-radius: 4%;
                filter: drop-shadow(5px 5px 5px black);
                
            }
        
            20% {
                transform: rotate(0deg);
                
            }
        
            33% {
                width: 35px;
                height: 35px;
                transition: ease-in;
            }
        
            67% {
                width: 35px;
                height: 35px;
                border-radius: 70%;
                transform: rotate(720deg) rotateY(720deg) ;
                transition: ease-in;
                opacity: 100%;
            }
        
            70% {
                opacity: 0%;
            }
        
            100% {
                width: 35px;
                height: 35px;
                border-radius: 70%;
                opacity: 0%;
                
            }
        
        }
        
        .form {
            margin-left: auto;
            animation: formkotak 11.3s ease 1 reverse forwards; 
            text-align: center;
            
        }
        
        .nightmode {
            margin-top: 13%;
            width: 30px;
            height: 30px;
            display: block;
            background-color: rgb(201, 201, 0);
            position: absolute;
            margin-left: 80%;
            border-radius: 50%;
            animation: opacitynightmode 12s ease 1 reverse forwards;
        }
        
        .logobulansabit
        {
            box-shadow: 10px 3px 0 0 rgb(3, 0, 189);
            background-color: transparent;
        }
        
        @keyframes formkotak{
            0% {
                
                opacity: 100%;
            }
        
            19% {
                opacity: 0%;
                
            }
        
            75% {
                opacity: 0%;
                
            }
        }
        
        @keyframes opacitytitlepage{
            0% {
                
                opacity: 100%;
            }
        
            70% {
                opacity: 0%;
                
            }
        
            100% {
                opacity: 0%;
                
            }
        }
        
        @keyframes opacitynightmode{
            0% {
                
                opacity: 100%;
            }
        
            13% {
                opacity: 0%;
                
            }
        
            100% {
                opacity: 0%;
                
            }
        }

        .pesanerror{
            position: absolute;
            width: 100%;
            background-color: wheat;
            bottom: 0;
        }
        
        @media screen and (min-width: 567px) {
            .titlepage {
                margin-top : 7%;
                margin-left: 20%;
            }

            .nightmode {
                margin-top: 5%;
                margin-left: 65%;
            }

            .kotak {
                margin : 4% auto;
            }
        }

        .pesanerror{
            margin-top: 17%;
        }
    </style>
{% endblock css %} 

{% block contents %}
    {%include "snippets/navbar.html"%}

    <h1 class = "titlepage ">WELCOME</h1> 
    <br>
    <br>

    <div class = "nightmode"></div>

    <br>
    <br>
    <br>
   
    <!-- <img src="{% static 'images/benjaminFranklin.png' %}" alt="">
        <h1 class="quote">an investment in knowledge <br> 
        pays the best interest</h1> 
    --> 
    <div class="pesanerror">
        {{form.errors}}
    </div>

    <div class = "kotak">
        <div class ="form">
            <form method="POST" action="" >
                {% csrf_token %}
                
                <h1 class = "labeltag">REGISTER</h1>
                <h6 class = "labeltag labeltagposisi">{{form.username.label_tag}}</h6>  
                <div class = "kotakisi">
                    {{form.username}}
                </div>
                
                <h6 class = "labeltag labeltagposisi">{{form.email.label_tag}}</h6> 
                <div class = "kotakisi">
                    {{form.email}}
                </div>
                
                <h6 class = "labeltag labeltagposisi">{{form.password1.label_tag}}</h6> 
                <div class = "kotakisi">
                    {{form.password1}}
                </div>
                
                <h6 class = "labeltag labeltagposisi">{{form.password2.label_tag}}</h6>
                <div class = "kotakisi">
                    {{form.password2}}
                </div>
                <br>
                <input class ="tombolsubmit" type="submit" name="Create User">
            </form>
        </div>
    
    </div>

    <script src="{% static 'java/register.js' %}"></script>
{% endblock contents %}

    
    
    
    